<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416148500385-9dldamqpa6bj1tmubheoii1qnmebcsrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416148500385-9dldamqpa6bj1tmubheoii1qnmebcsrf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416148500385-9m9m9d59vu7810ud6ssuc9oi8r99b2kl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLDqtnIw7uiignYNATWwlGW5cMXZ63NRw</string>
	<key>GCM_SENDER_ID</key>
	<string>416148500385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApplication</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-application-a1ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-application-a1ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416148500385:ios:e15cba3190a8a399ec65e0</string>
</dict>
</plist>